
html, body {
    height: 100%;
}

body{
    background: #f8f9fa !important;
}

.form-signin {
    max-width: 430px;
    padding: 1rem;
}

.m-auto {
    margin:auto !important;
}

.d-flex {
    display:flex !important;
}

.align-items-center {
    align-items: center !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.img-inicial {
    min-height: 100% !important;
    max-height: 100% !important;
    max-WIDTH: 100% !important;
    float: inline-start;
    margin-top: -147px !important;
    display: block !important;
}

.menu-topo {
    z-index: 1;
    position: relative;
    background-color: #ffffff;
}
.img-inicial img{
    object-fit: scale-down;
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    margin-top: 0;
    max-height: 100% !important;
}

.container {
    max-height: calc(100% - 100px);
    padding-bottom: 0 !important;
}

.cont-itens {
    top: 15px !important;
    right: 109px !important;
}

#webcrumbs{
    background-color: transparent !important;
}